html, body, header, #intro {
    height: 100%;
}

header, footer {
    text-shadow: 3px 3px 3px black;
}

#intro {
    background: url(https://images.pexels.com/photos/460672/pexels-photo-460672.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1920) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover; 
}

.top-nav-collapse {
    background-color: #6351ce;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse){
        background-color: #6351ce;
    }
}

.map-container {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
